body{
	background-image: url('images/backgrounds-6.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 170px auto;
}

.login-left{
	background:rgba(211,211,211,0.5);
	padding: 30px;
}

.login-right{
	background:#fff;
	padding: 30px;
}